<d class="w-full max-w-4xl mx-auto py-16 grid md:grid-cols-2 gap-8 items-center">
    <!-- Buttons column -->
    <div class="flex flex-col items-center gap-4">
        <a href="assets/files/KENZA FILALI WEBMASTER TECHNIQUE  ecom.pdf" download
            class="bg-blue-600 text-white py-2 w-4/5 md:w-1/2 text-center rounded-xl hover:bg-blue-700 transition">
            📄 Télécharger mon CV
        </a>
        <a href="https://www.linkedin.com/in/kenza-fil/" target="_blank"
            class="bg-gray-800 text-white py-2 w-4/5 md:w-1/2 text-center rounded-xl hover:bg-gray-900 transition">
            💼 Voir mon LinkedIn
        </a>
        <a href="https://calendly.com/kenza-filali-rahal" target="_blank"
            class="bg-green-600 text-white py-2 w-4/5 md:w-1/2 text-center rounded-xl hover:bg-green-700 transition">
            📅 Prendre un rendez-vous
        </a>
    </div>

    <!-- Counter column -->
    <div class="text-[var(--color-primary)] text-center ">
        <div class="text-5xl md:text-9xl font-bold" id="counter">0</div>
        <p class="mt-2 text-xl">sites web réalisés</p>
    </div>
    </div>