<!-- formations.html -->
<section class="text-left mt-6 ">
    <h2 class="text-5xl font-bold mb-8 text-center text-[var(--color-primary)]">Formations</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <div class="box  p-4 rounded-xl shadow ">
            <h3 class="font-semibold text-lg mb-1">Développeur Concepteur Logiciel – Frontend</h3>
            <p class="text-sm italic mb-2">OpenClassrooms, Paris (2022-2023)</p>
        </div>

        <div class="box  p-4 rounded-xl shadow">
            <h3 class="font-semibold text-lg mb-1">Master Informatique</h3>
            <p class="text-sm italic mb-2">Université de Constantine, Algérie (2013 - 2015)</p>
        </div>

        <div class="box  p-4 rounded-xl shadow">
            <h3 class="font-semibold text-lg mb-1">Licence Informatique</h3>
            <p class="text-sm italic mb-2">Université de Constantine, Algérie (2010 - 2013)</p>
        </div>

        <div class="box  p-4 rounded-xl shadow">
            <h3 class="font-semibold text-lg mb-1">Baccalauréat Math-Technique</h3>
            <p class="text-sm italic mb-2">Constantine, Algérie (2010)</p>
        </div>

    </div>
</section>
