<section id="hero"
    class="relative h-screen bg-cover bg-center text-white flex flex-col justify-center items-center text-center"
    style="background-image: url('assets/images/hero/hero.jpg');">

    <!-- Overlay -->
    <section id="hero-overlay" class="absolute inset-0 w-full h-full bg-black bg-opacity-50 z-10"></section>

    <!-- Content wrapper with higher z-index -->
    <div class="relative z-20 flex flex-col items-center">

        <!-- Nom divisé -->
        <div
            class="w-full flex flex-col md:flex-row justify-center items-center text-5xl md:text-7xl font-extrabold tracking-widest mb-6 gap-6">
            <span class=" text-white w-full md:w-1/2 py-3 ">KENZA</span>
            <span class=" text-white w-full md:w-1/2 py-3 ">FILALI</span>
        </div>

        <!-- Titre -->
        <div class="bg-black bg-opacity-80 px-4 py-2 rounded-md mb-6">
            <h1 class="text-xl md:text-3xl font-semibold">WEBMASTER</h1>
            <p class="text-md md:text-xl tracking-wider">DÉVELOPPEUSE FRONTEND</p>
        </div>

        <!-- Boutons -->
        <div class="flex gap-4 flex-wrap justify-center mb-8">
            <a href="#references"
                class="px-6 py-3 bg-yellow-400 text-black font-semibold rounded-full shadow-lg hover:scale-105 hover:bg-yellow-300 transition transform duration-300">
                🔗 Voir mes projets
            </a>
            <a href="#contact"
                class="px-6 py-3 bg-[var(--color-blue-denim)] border-2 border-white text-white font-semibold rounded-full hover:bg-[var(--color-blue-accent)] hover:text-white transition transform duration-300 hover:scale-105">
                📬 Me contacter
            </a>
        </div>

        <!-- Icônes -->
        <div class="flex gap-4 flex-wrap justify-center hover:scale-105 transition duration-300">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-plain.svg"
                class="w-10 h-10" alt="WordPress" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" class="w-10 h-10"
                alt="React" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                class="w-10 h-10" alt="JavaScript" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" class="w-10 h-10"
                alt="CSS3" />
        </div>

    </div>
</section>