<!-- references.html -->
<section class="text-left mt-12 py-4">
    <h2 class="text-5xl font-bold mb-8 text-center text-[var(--color-primary)]">Quelques références</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
        <iframe src="https://www.behance.net/embed/project/132051279?ilo0=1" height="316" width="100%"
            class="rounded-xl shadow-md" allowfullscreen lazyload frameborder="0" allow="clipboard-write"
            referrerpolicy="strict-origin-when-cross-origin"></iframe>
        <iframe src="https://www.behance.net/embed/project/132051663?ilo0=1" height="316" width="100%"
            class="rounded-xl shadow-md" allowfullscreen lazyload frameborder="0" allow="clipboard-write"
            referrerpolicy="strict-origin-when-cross-origin"></iframe>
        <iframe src="https://www.behance.net/embed/project/132050857?ilo0=1" height="316" width="100%"
            class="rounded-xl shadow-md" allowfullscreen lazyload frameborder="0" allow="clipboard-write"
            referrerpolicy="strict-origin-when-cross-origin"></iframe>
        <iframe src="https://www.behance.net/embed/project/219274011?ilo0=1" height="316" width="100%"
            class="rounded-xl shadow-md" allowfullscreen lazyload frameborder="0" allow="clipboard-write"
            referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </div>
    <div class="text-center">
        <a href="https://www.behance.net/kenzafilali" target="_blank"
            class="inline-block bg-[var(--action-color)] text-white px-6 py-2 rounded-full font-semibold hover:bg-[var(--color-blue-accent)] transition">
            Voir plus de projets
        </a>
    </div>
</section>